.excel-page {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	.fixed {
		flex: 0 0 auto;
	}

	.content {
		flex: 1 1 auto;
		position: relative;/* need this to position inner content */
		overflow-y: auto;
	}
}