.login {
	display: flex;
	flex-flow: row;
	align-content: flex-start;
	align-self: center;
	height: 48px;
	background-color: #f8f9fa;
	color: #666666;
	padding: 0 20px;
	box-sizing: content-box;
	.icon {
		background-image: url('./images/logo@2x.png');
		background-repeat: no-repeat;
		background-size: contain;
		height: 48px;
		width: 100%;
		max-width: 100px;
	}

	.action {
		margin-left: auto;
		cursor: pointer;
	}
}