.previewExcel {
	height: 100%;
	padding: 0 10px;
	box-sizing: border-box;
	.text {
		color: #6a6a6a;
		p {
			margin: 20px auto;
		}
	}
	.image {
		margin: auto;
		background-image: url('./images/pic-excel.png');
		background-repeat: no-repeat;
		background-size: contain;
		min-height: 300px;
		height: 100%;
		width: 300px;
	}
}