.search {
	padding: 10px 20px;
	background-color: #f8f9fb;
	width: 100%;
	box-sizing: border-box;
	height: 42px;
	
	.preview {
		display: flex;
		flex-direction: row;
		align-content: flex-start;

		.title {
			color: #666;
			text-align: left;
			margin-left: 32px;
			vertical-align: middle;
		}

		.icon {
			background-image: url('./images/Button80x80.png');
			background-repeat: no-repeat;
			background-size: cover;
			width: 16px;
			height: 16px;
		}

		.search-button {
			background-image: url('./images/search@2x.png');
			background-repeat: no-repeat;
			background-size: cover;
			width: 16px;
			height: 16px;
			margin-left: auto;
			cursor: pointer;
		}
	}
	.active {
		display: flex;
		flex-flow: row;
		align-content: flex-start;
		height: 100%;
		align-self: center;
		.back {
			background-image: url('./images/back@2x.png');
			background-repeat: no-repeat;
			background-size: cover;
			width: 16px;
			height: 16px;
			cursor: pointer;
		}
		.text {
			width: 100%;
			margin: auto 10px;
		}
	}
}

.react-autosuggest__input {
	background: black
}